body,
html {
  margin: 0;
  padding: 0;
}

ul {
  width: auto;
  float: right;
  border-radius: 10px;
}

.nav_li {
  display: inline-block;
  padding: 2rem 0rem;
  width: auto;
  background-color: #d9d9d9;
  transition: transform 0.3s ease; /* Smooth transition */
  text-decoration: none;
  color: black;
  position: relative;
}

.navlink {
  width: 100;
  padding: 2rem 3rem;
  text-decoration: none;
  color: black;
  position: relative;
}

.nav_li:hover {
  background-color: #008080 ;
}

a {
  text-align: center;
  color: #000000;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
}

.align {
  justify-content: flex-end;
}

