.background {
    background-image: url('./assets/bg.png');
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;
    height: 100vh;
}


.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    text-align: center;
    height: 100vh; 
}
.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.button {
    border: none;
    color: white;
    padding: 15px 35px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 5%;
    font-family: "Work Sans", sans-serif;
    transition: transform 1s cubic-bezier(0.25, 0.8, 0.25, 1), filter 0.3s ease;
}


.button:hover {
    transform: scale(1.12);
    filter: brightness(150%)
}
